@model FESSite.Models.ClaimFile

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>


@using (Html.BeginForm("Create", "ClaimFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ClaimFile</h4>
        <hr />
        <div class="form-group">
            @Html.TextBox("file", "", new { type = "file" }) <br />

            <input type="submit" value="Upload" class="btn btn-default" />

            @ViewBag.Message

        </div>
    </div>

}  

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
