@model FESSite.Models.ParsedViewModel

@{
    ViewBag.Title = "Parse";
}

<h2>Parse</h2>


@using (Html.BeginForm())
{
    int x = 1;
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Claim File</h4>
        <hr />
        @Html.HiddenFor(model => model.cf.FileID)

        <div class="form-group">
            @Html.LabelFor(model => model.cf.Filename, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.cf.Filename, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cf.FileSize, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.cf.FileSize, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

    </div>
    <div class="form-horizontal">
        <h4>File Header</h4>
        <hr />
        @foreach (var field in Model.fh.lsFields)
        {
            <div class="form-group">
                <label class="control-label col-md-2">@Html.DisplayFor(model => field.Name)</label>
                <div class="col-md-10">
                    @Html.DisplayFor(model => field.Value, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        }
    </div>

    <div>
        @foreach (var claim in Model.fh.lsdch)
        {
            <div class="form-horizontal">
                <h4>Claim Header @x</h4>
                <hr />
                @foreach (var field in claim.lsFields)
                {
                    <div class="form-group">
                        <label class="control-label col-md-2">@Html.DisplayFor(model => field.Name)</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => field.Value, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                }

            </div>
            <div class="form-horizontal">
                <h4>Paper Header @x</h4>
                <hr />
                @foreach (var field in claim.ph.lsFields)
                {
                    <div class="form-group">
                        <label class="control-label col-md-2">@Html.DisplayFor(model => field.Name)</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => field.Value, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                }

            </div>

            x++;
        }
    </div>
        }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
