@model fes.Models.ParsedViewModel

@{
    ViewBag.Title = "Claim Info for " + Model.cf.fh.lsdch[0].ClaimType + " " + Model.cf.fh.lsdch[0].DCN;
}


<h2>Claim Info for @Model.cf.fh.lsdch[0].ClaimType @Model.cf.fh.lsdch[0].DCN</h2>

<div id="ClaimHeaderInfo">
    @switch (Model.cf.fh.lsdch[0].cltLayout)
    {
        case fes.Models.ClaimLayoutType.Dental:
            @Html.Partial("DentalClaimHeaderInfo", Model.cf.fh.lsdch[0]);
            break;
        case fes.Models.ClaimLayoutType.HCFA:
        case fes.Models.ClaimLayoutType.HCFAAdvantage:
        case fes.Models.ClaimLayoutType.HCFACrossover:
            @Html.Partial("HCFAClaimHeaderInfo", Model.cf.fh.lsdch[0]);
            break;
        case fes.Models.ClaimLayoutType.UB04:
        case fes.Models.ClaimLayoutType.UB04Advantage:
        case fes.Models.ClaimLayoutType.UB04Crossover:
            @Html.Partial("UB04ClaimHeaderInfo", Model.cf.fh.lsdch[0]);
            break;
    }
</div>
<div>
    <br />
</div>
<div>
    @Html.ActionLink("Back to Claim List", "Details", new { id = Model.cf.FileID })
</div>

@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
}


