@model IEnumerable<fes.Models.ClaimFile>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Filename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileSize)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Filename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileSize)
            </td>
            <td>
                @if (!item.Parsed)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.FileID }) 
                }
                else
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.FileID }) @: | @Html.ActionLink("Details", "Details", new { id = item.FileID })
                }
            </td>
        </tr>
    }

</table>

